@import 'function.scss';

$prefix: 'u-' !default;

$spacing: (
    xxs: px-to-rem(4px),
    xs: px-to-rem(8px),
    sm: px-to-rem(12px),
    md: px-to-rem(16px),
    lg: px-to-rem(24px),
    xl: px-to-rem(48px)
) !default;

$font-weight: (
    thin: 100,
    extralight: 200,
    light: 300,
    normal: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    extrabold: 800,
    black: 900
) !default;


$typography: (
    largeTitle: (
        font-size: px-to-rem(34px),
        line-height: px-to-rem(41px),
        margin-top: map-get($spacing, 'md'),
        margin-bottom: map-get($spacing, 'sm'),
    ),
    title1: (
        font-size: px-to-rem(28px),
        line-height: px-to-rem(34px),
    ),
    title2: (
        font-size: px-to-rem(22px),
        line-height: px-to-rem(28px),
    ),
    title3: (
        font-size: px-to-rem(20px),
        line-height: px-to-rem(25px),
    ),
    headline: (
        font-size: px-to-rem(17px),
        line-height: px-to-rem(22px),
        font-weight: map-get($font-weight, 'semibold'),
    ),
    body: (
        font-size: px-to-rem(17px),
        line-height: px-to-rem(22px),
        
    ),
    callout: (
        font-size: px-to-rem(16px),
        line-height: px-to-rem(21px),
    ),
    subhead: (
        font-size: px-to-rem(15px),
        line-height: px-to-rem(20px),
    ),
    footnote: (
        font-size: px-to-rem(13px),
        line-height: px-to-rem(18px)
    ),
    caption1: (
        font-size: px-to-rem(12px),
        line-height: px-to-rem(16px),
    ),
    caption2: (
        font-size: px-to-rem(11px),
        line-height: px-to-rem(13px),
    )
) !default;

$border-radius: (
    sm: px-to-rem(3px),
    md: px-to-rem(4px),
    lg: px-to-rem(8px)
) !default;

$sizes: (
    xs: px-to-rem(12),
    sm: px-to-rem(16),
    md: px-to-rem(24),
    lg: px-to-rem(36),
    xl: px-to-rem(48),
) !default;

$palette: (
    text: #333,
    primary: #333,
    secondary: #1673ba,
    hint: #c1272d,
    meta: #666,
    placholder: #a3a3a3,
    border: #ddd,
    bg: #F6F6F6,
) !default;

$default-border: 1px solid map-get($map: $palette, $key: 'border')  !default;

$container-width: px-to-rem(960px);

$grids: 5, 24;